.avatar-img-small {
    width: 20px;
    height: 20px;
}
/* Change the background color and text color of the tooltip */
.tooltip-inner {
    background-color: #333 !important;
    /* Dark background */
    color: white !important;
    /* White text */
    font-size: 12px !important;
    /* Smaller font size */
}

/* Customize the tooltip arrow */
.tooltip .tooltip-arrow {
    border-top-color: #333 !important;

}